/*
 * arch/arm/boot/dts/tegra124-apalis-eval.dts
 *
 * Copyright (c) 2017, NVIDIA CORPORATION.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 */

/dts-v1/;

#include <dt-bindings/display/tegra-dc.h>

#include "tegra124-soc-shield.dtsi"
#include "tegra124-platforms/tegra124-apalis-keys.dtsi"
#include "tegra124-platforms/tegra124-apalis-gpio.dtsi"
#include "tegra124-platforms/tegra124-apalis-pinmux.dtsi"
#include "tegra124-platforms/tegra124-apalis-pmic.dtsi"
#include "tegra124-platforms/tegra124-apalis-fixed.dtsi"
#include "panel-p-wuxga-10-1.dtsi"

/ {
	model = "NVIDIA Tegra124 PM375";
	compatible = "nvidia,jetson-tk1", "nvidia,tegra124";
	nvidia,dtsfilename = __FILE__;
	#address-cells = <2>;
	#size-cells = <2>;

	chosen {
		bootargs = "tegraid=40.0.0.00.00 vmalloc=256M video=tegrafb console=ttyS0,115200n8 earlyprintk";
	};

	firmware {
		android {
			compatible = "android,firmware";
			hardware = "tegra";
		};
	};

	psci {
		status = "disabled";
	};

	host1x {
		/* tegradc.0 */
		dc@54200000 {
			status = "okay";
			nvidia,dc-flags = <TEGRA_DC_FLAG_ENABLED>;
			nvidia,emc-clk-rate = <204000000>;
			nvidia,cmu-enable = <1>;
			nvidia,low-v-win = <0x2>;
			nvidia,fb-bpp = <32>; /* bits per pixel */
			nvidia,fb-flags = <TEGRA_FB_FLIP_ON_PROBE>;
		};
		/* tegradc.1 */
		dc@54240000 {
			status = "okay";
			nvidia,dc-flags = <TEGRA_DC_FLAG_ENABLED>;
			nvidia,emc-clk-rate = <300000000>;
			nvidia,fb-bpp = <32>; /* bits per pixel */
			nvidia,fb-flags = <TEGRA_FB_FLIP_ON_PROBE>;
			avdd_hdmi-supply = <&as3722_sd4>;
			avdd_hdmi_pll-supply = <&as3722_sd4>;
			vdd_hdmi_5v0-supply = <&vdd_hdmi>;
		};
		dsi {
			nvidia,dsi-controller-vs = <1>;
			status = "okay";
			panel-p-wuxga-10-1 {
				nvidia,dsi-panel-rst-gpio = <&gpio TEGRA_GPIO(H, 3) 0>; /* PH3 */
				nvidia,dsi-panel-bl-pwm-gpio = <&gpio TEGRA_GPIO(H, 1) 0>; /* PH1 */
			};
		};

		hdmi {
			status = "okay";
			nvidia,ddc-i2c-bus = <&hdmi_ddc>;
			nvidia,hpd-gpio = <&gpio TEGRA_GPIO(N, 7) 1>; /* PN7 */
			hdmi-display {
				status = "okay";
				disp-default-out {
					nvidia,out-type = <TEGRA_DC_OUT_HDMI>;
					nvidia,out-flags = <TEGRA_DC_OUT_HOTPLUG_HIGH>;
					nvidia,out-parent-clk = "pll_d2";
					nvidia,out-max-pixclk = <3367>; /* KHZ2PICOS(297000) */
					nvidia,out-align = <TEGRA_DC_ALIGN_MSB>;
					nvidia,out-order = <TEGRA_DC_ORDER_RED_BLUE>;
					nvidia,out-xres = <1920>;
					nvidia,out-yres = <1080>;
				};
				display-timings {
				      1920x1080-24 {
						clock-frequency = <148500000>;
						hactive = <1920>;
						vactive = <1080>;
						hfront-porch = <25>;
						hback-porch = <25>;
						hsync-len = <25>;
						vfront-porch = <2>;
						vback-porch = <2>;
						vsync-len = <2>;
						nvidia,h-ref-to-sync = <1>;
						nvidia,v-ref-to-sync = <1>;
					};
				};
				tmds-config {
					tmds-cfg@0 {
						version = <1 0>;
						pclk = <27000000>;
						pll0 = <0x01003010>;
						pll1 = <0x00301b00>;
						pe-current = <0x00000000>;
						drive-current = <0x1f1f1f1f>;
						peak-current = <0x03030303>;
						pad-ctls0-mask = <0xfffff0ff>;
						pad-ctls0-setting = <0x00000400>;
					};
					tmds-cfg@1 {
						version = <1 0>;
						pclk = <74250000>;
						pll0 = <0x01003110>;
						pll1 = <0x00301500>;
						pe-current = <0x08080808>;
						drive-current = <0x2d2d2d2d>;
						peak-current = <0x00000000>;
						pad-ctls0-mask = <0xfffff0ff>;
						pad-ctls0-setting = <0x00000400>;
					};
					tmds-cfg@2 {
						version = <1 0>;
						pclk = <148500000>;
						pll0 = <0x01003310>;
						pll1 = <0x00301500>;
						pe-current = <0x00000000>;
						drive-current = <0x2d2d2d2d>;
						peak-current = <0x05050505>;
						pad-ctls0-mask = <0xfffff0ff>;
						pad-ctls0-setting = <0x00000400>;
					};
					tmds-cfg@3 {
						version = <1 0>;
						pclk = <0x7fffffff>;
						pll0 = <0x01003f10>;
						pll1 = <0x00300f00>;
						pe-current = <0x00000000>;
						drive-current = <0x37373737>;
						peak-current = <0x17171717>;
						pad-ctls0-mask = <0xfffff0ff>;
						pad-ctls0-setting = <0x00000600>;
					};
				};
			};
		};
	};

	hdmi_ddc: i2c@7000c400 {
		clock-frequency = <100000>;
	};

	pinmux@70000868 {
                pinctrl-names = "default", "drive", "unused", "suspend";
                pinctrl-3 = <&pinmux_suspend>;

                /* Change the pin dap_mclk1_req to required configurations */
                unused_lowpower {
                        dap_mclk1_req_pee2 {
                        nvidia,pins = "dap_mclk1_req_pee2";
                        nvidia,function = "sata";
                        nvidia,enable-input = <TEGRA_PIN_DISABLE>;
                        nvidia,pull = <TEGRA_PIN_PULL_NONE>;
                        nvidia,tristate = <TEGRA_PIN_DISABLE>;
                        };
                };

                /* On suspend, make dap_mclk1_req to pull up */
                pinmux_suspend: pins_on_suspend {
                dap_mclk1_req_pee2 {
                        nvidia,pins = "dap_mclk1_req_pee2";
                        nvidia,pull = <TEGRA_PIN_PULL_UP>;
                        };
                };
        };

	/* Apalis UART1 */
	serial@70006000 {
		compatible = "nvidia,tegra114-uart", "nvidia,tegra20-uart";
		status = "okay";
	};

	/* Apalis UART2 */
	serial@70006040 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";
	};

	/* Apalis UART3 */
	serial@70006200 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";
	};

	/* Apalis UART4 */
	serial@70006300 {
		compatible = "nvidia,tegra114-hsuart";
		status = "okay";

	};

	i2c@7000d000 {
		nvidia,bit-banging-xfer-after-shutdown;

		as3722@40 {
			adc_extcon {
				ams,extcon-name = "as3722-extcon";
			};
		};
	};

	memory@0x80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x80000000>;
	};

	/* TBD */
	camera-pcl {
		profiles {
			ov4689@2_0036 {
				use_of_node = "yes";
				reset-gpios = <&gpio TEGRA_GPIO(BB, 3) 0>;
				cam1-gpios = <&gpio TEGRA_GPIO(BB, 5) 0>;
			};
			imx185@2_001A {
				use-of-node = "yes";
				cam1-gpios = <&gpio TEGRA_GPIO(BB, 5) 0>;
			};
		};
		dpd {
			default-enable;
		};
	};

	/* SPI1: Apalis SPI1 */
	spi@7000d400 {
		status = "okay";
		spi-max-frequency = <25000000>;

		spidev0: spidev@0 {
			compatible = "spidev";
			reg = <0>;
			spi-max-frequency = <25000000>;
		};
	};

	/* SPI2: MCU SPI */
	spi@7000d600 {
		status = "okay";
		spi-max-frequency = <25000000>;

		spidev1: spidev@1 {
			compatible = "spidev";
			reg = <1>;
			spi-max-frequency = <12000000>;
		};

		spidev2: spidev@2 {
			compatible = "spidev";
			reg = <2>;
			spi-max-frequency = <2000000>;
		};
	};

	/* SPI4: Apalis SPI2 */
	spi@7000da00 {
		status = "okay";
		spi-max-frequency = <25000000>;

		spidev3: spidev@0 {
			compatible = "spidev";
			reg = <0>;
			spi-max-frequency = <25000000>;
		};
	};

	pcie-controller {
		nvidia,port0_status = <1>;
		nvidia,port1_status = <1>;
        hvdd_pex-supply = <&reg_3v3>;
        avdd_pex_pll-supply = <&as3722_sd4>;
		status = "okay";
	};

	sata@0x70020000 {
		nvidia,enable-sata-port;
		nvidia,sata-connector-type=<STANDARD_SATA>;
		vdd_sata-supply = <&as3722_sd4>;
		avdd_sata_pll-supply =<&as3722_sd4>;
		avdd_sata-supply = <&as3722_sd4>;
		hvdd_sata-supply = <&reg_3v3>;
		vddio_pex_sata-supply = <&reg_3v3>;
		status = "okay";
	};

	/* TBD */
	xusb@70090000 {
		/* nvidia,uses_external_pmic;
		nvidia,gpio_controls_muxed_ss_lanes; */
		nvidia,gpio_ss1_sata = <0>;
		nvidia,portmap = <0x0703>; /* SSP0, SSP1 USB2P0, USB2P1, USB2P2 */
		nvidia,ss_portmap = <0x72>; /* SSP0 on USB2P2, TBD: SSP1 on USB2P0 */
		nvidia,lane_owner = <6>; /* USB3P0 USB3P1 */
		nvidia,ulpicap = <0>; /* No ulpi support. can we remove */
		/* nvidia,supply_utmi_vbuses = "usb_vbus0", "usb_vbus1", "usb_vbus2";
		nvidia,supply_s3p3v = "hvdd_usb";
		nvidia,supply_s1p8v = "avdd_pll_utmip";
		nvidia,supply_s1p05v = "avddio_usb"; */
		status = "okay";
	};

	backlight {
		compatible = "pwm-backlight";
		status = "okay";
	};
};
